[submodule "ironclaw"]
	path = desktop-client/ironclaw
	url = ../xclaw-ironclaw.git
	branch = x-claw-core
[submodule "claw-code"]
	path = claw-code
	url = ../xclaw-claw-code.git
	branch = x-claw
[submodule "codex-cli-main"]
	path = codex-cli-main
	url = ../xclaw-codex-cli-main.git
