[submodule "ironclaw"]
	path = desktop-client/ironclaw
	url = https://github.com/nearai/ironclaw.git
[submodule "claw-code"]
	path = claw-code
	url = https://github.com/Linnanli/xclaw-claw-code.git
	branch = x-claw
[submodule "codex-cli-main"]
	path = codex-cli-main
	url = https://github.com/openai/codex.git
